.env
.env.local
.env.*.local
start_project.bat
*.bat
.DS_Store
*.log
*.sqlite3
*.db
ATTENDEE_LOG.md
VOLUNTEER_LOG.md
.vscode/
.idea/

apps/volunteer_mobile/lib/config/supabase_config.dart
apps/attendee_mobile/lib/config/supabase_config.dart
apps/flutter_ble_peripheral_patched/android/.gradle/

hs_err_pid*.log

# Backend
server/venv/
server/__pycache__/
*.pyc

# Frontend
client/node_modules/
client/dist/
client/build/
client/.eslintcache